@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
  font-style: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	list-style-type: none;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 1200px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.page-container {
	width: 1200px;
	background-color: #ffffff;
	margin: 0 auto;
}

.main-header,
.catalog-header {
	color: #000000;
	background-color: #ffffff;
}

.navigation {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0px 70px;
}

.main-header-logo {
	width: 138px;
	margin-right: 30px;
	margin-left: 70px;
}

.menu-main {
	width: 1200px;
	height: 64px;
	margin: 0;
	padding: 0;
	width: 339px;
	display: flex;
	flex-direction: row;
	align-items: center;
  list-style:none;
	}

.main-menu navigation-user {
	width: 268px;
	height: 64px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
  margin: 0;
}

.navigation-item,
.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	margin: 0;
	padding: 0;
	width: 339;
	flex-direction: column;
  list-style:none;
}

.navigation-one{
  width: 100px;
}
.navigation-two{
  width: 114px;
}
.navigation-three{
  width: 125px;
}

.button-up {
font-weight: 700;
font-size: 16px;
line-height: 20px;
width: 160px;
height: 36px;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
background-color: #756157;
padding: 8px 50px;
border-radius: 4px;
text-decoration: none;
}

.button-up:hover{
  background-color: #615048;
}

.button-up:active{
  color: #FFFFFF 30%;
  background-color: #756157;
}

.button-up:focus{
  outline-style: solid;
  outline-color: #83B3D3;
  outline-width: 3px;
 }

.info {
	display: flex;
  flex-direction: column;
  padding: 69px 0 90px;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  }

.info-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
  width: 620px;
}


.info-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
  width: 651px;
  }

.navigation-user {
	max-width: 268px;
	margin-left: auto;
}

.logo {
	display: block;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.welcome {
	background-color: rgb(255, 255, 255);
	background-image: url("../images/index_background.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	Width: 100%;
}

.advantages-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	text-align: center;
}

.item {
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

.item-big {
	width: 100%;
	background: #82B3D3;
}

.item-small,
.screen-one {
	width: 33.33%;
	height: 384px;
	display: flex;
	padding: 103px 85px 20px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(131, 179, 211, 0.12);
}

.item-dark {
	background: rgba(131, 179, 211, 0.2);
}

.item-light {
	background: #fff;
}

.item-devider {
	width: 60px;
	height: 2px;
	background: rgba(0, 0, 0, 0.3);
	margin-top: 30px;
}

.item-devider-white {
	background:rgba(255, 255, 255, 0.3);
}

.advantages-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	margin: 0;
	text-align: center;
	max-width: 175px;
}

.advantages-discription {
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-top: 30px;
}

.advantages-title-white {
	color: #ffffff;
}

.advantages-discription-white {
	color: #ffffff;
}

.advantages-item-icon {
	margin-bottom: 30px;
	margin-top: -23px;
}

.screen-one {
	width: 33.33%;
}

.advantages-item-screen {
	width: 66.66%;
}

.screen-two {
	width: 33.33%;
}

.advantages-item-screen-second {
	width: 66.66%;
}

.advantages-down {
	background: #ffffff;
}

.reserve {
	display: flex;
  flex-direction: column;
  padding: 96px 0 96px;
  text-align: center;
  background-color: #FFFFFF;
	align-items: center;
  margin: 0;

}

.reserve-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
  display: flex;
  text-align: center;
  margin: 0;
	}

.reserve-data {
	margin: 0;
  font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
  padding-top: 20px;
  padding-bottom: 54px;
	}

.find {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	width: 376px;
  height: 52px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #756157;
	border-radius: 4px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .find:hover{
    background-color: #615048;
  }

  .find:active{
    color: #FFFFFF 30%;
  }

  .find:focus{
    border: 3px solid #83B3D3;
   }

.page-footer-container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.footer-post {
	background-image: url("../images/background.png");
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 96px 258px 104px;
	gap: 10px;
	width: 1200px;
	height: 415px;
	color: #ffffff;
	text-align: center;
}

.main-subscribe-post {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	width: 684px;
	padding-top: 0px;
	padding-left: 140px;
	padding-right: 140px;
  margin: 0;
}

.main-footer-discription {
	text-transform: none;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	padding-left: 104px;
	padding-right: 104px;
}

.new-form {
	width: 684px;
	display: flex;
  }

.field {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	width: 452px;
	height: 52px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
	color: #000000;
	background-color: #f2f2f2;
	padding: 12px 20px;
  border: 0;
  border-radius: 4px 0px 0px 4px;

}

.button-submit {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	width: 232px;
	height: 52px;
	flex-direction: row;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	background-color: #82B3D3;
	padding: 8px 50px;
  border: 0;
  border-radius: 0px 4px 4px 0px;
}

.page-footer-container {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.footer-social-list {
	width: 142px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}

.footer-social-item {
	width: 48px;
	color: #ffffff;
}


.contacts {
	display: flex;
	width: 877px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}

.contacts-phone {
	width: 720px;
	padding-left: 195px;
	padding-right: 194px;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
}

.htmlacademy-link {}

/*



  .services-title {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
  }

  .services-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }

  .services-item {
    width: 230px;
  }

  .services-description {
    color: #333333;
  }



.inner-header-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumps-link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}



.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-group {
  padding: 0;
  width: 150.43px;
  margin: auto;
}

.catalog-products {
  background-image: url("..//images/filter.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  font-family: "PT Sans", sans-serif;
  background: #756157;
  border-radius: 4px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  width: 140px;
}

.button-submit {
  background: #82B3D3;
  border-radius: 0px 4px 4px 0px;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  border: #82B3D3;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.pagination-link {
  background: #82B3D3;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.footer-post {
  background-image: url("../images/background.png");
  width: 100%;
  justify-content: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  text-align: center;
  padding: 0;
}

.main-footer-post {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.main-footer-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: white;
}

.footer-social-list,
.pagination,
.breadcrumps-item {
  list-style-type: none;
}

.footer-social-item{
  background: #83B3D3;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  }
*/


/*
.product-card-link{
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  }

.product-card-title{
  font-family: PT Sans;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  position: absolute;
}

.product-card-price,
.service-name {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-rating{
position: absolute;
width: 95px;
height: 20px;
left: 183px;
top: 9px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #333333;
}

.main-container{
  flex-grow: 1;
}


*/
