@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
}

body {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
	list-style-type: none;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 1200px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.page-container {
	width: 1200px;
	background-color: #ffffff;
	margin: 0 auto;
}

.main-header {
	color: #000000;
	margin-bottom: -9px;
	position: relative;
	z-index: 1;
}


.catalog-header {
	color: #000000;
	background-color: #ffffff;
}

.navigation {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px 23px;
}

.main-header-logo {
	width: 138px;
	margin-right: 30px;
	margin-left: 47px;
}

.menu-main {
	width: 1200px;
	margin: 0;
	padding: 17px 0 20px;
	width: 339px;
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style: none;
	flex-wrap: wrap;
	min-height: 64px;
}

.navigation-search {
	min-height: 64px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin: 0;
	margin-left: auto;
	padding-right: 47px;
}


.navigation-item,
.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	margin: 0;
	padding: 3px 0;
	flex-direction: column;
	list-style: none;
	position: relative;
}

.navigation-icon {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	fill: #000000;
}

.navigation-link:hover {
	opacity: 0.5;
}

.navigation-one {
	width: 100px;
}

.navigation-two {
	width: 114px;
}

.navigation-three {
	width: 125px;
}

.favourites {
	position: absolute;
}

.button {
	width: 26px;
	height: 20px;
	padding: 10px;
}

.button-up {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	width: 160px;
	height: 36px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #756157;
	padding: 8px 35px;
	border-radius: 4px;
	text-decoration: none;
}

.button-up:hover {
	background-color: #615048;
}

.info {
	display: flex;
	flex-direction: column;
	padding: 44px 0 90px;
	align-items: center;
	text-align: center;
	background: #ffffff;
}

.info-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	width: 620px;
}

.info-description {
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	width: 651px;
	margin: 0 auto;
}

.logo {
	display: block;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.welcome {
	background-color: #396e98;
	background-image: url("../images/index_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 50px;

}

.advantages-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
	text-align: center;
}

.item {
	display: flex;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;
}

.item-big {
	width: 100%;
	background: #82b3d3;
	min-height: 384px;
}

.item-small,
.screen-one {
	width: 33.33%;
	min-height: 384px;
	display: flex;
	padding: 103px 85px 20px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(131, 179, 211, 0.12);
}

.item-dark {
	background: rgba(131, 179, 211, 0.2);
	min-height: 384px;
}

.item-light {
	background: #fff;
	background-image: url("../images/food.svg");
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 74px 70px;
	min-height: 384px;
}

.image-house {
	background-image: url("../images/house_vector.svg");
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 75px 72px;
}

.image-memory {
	background-image: url("../images/souvenirs_vector.svg");
	background-repeat: no-repeat;
	background-position: center 80px;
	background-size: 64px 76px;
}

.advantages-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	margin: 0;
	text-align: center;
	max-width: 175px;
	flex-direction: column;
}

.advantages-title::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: rgba(0, 0, 0, 0.3);
	flex: wrap;
	margin: 0 auto;
	margin-top: 30px;
}

.advantages-discription {
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-top: 30px;
}

.advantages-title-white {
	color: #ffffff;
}

.advantages-discription-white {
	color: #ffffff;
}

.advantages-title-white::after {
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
	flex: wrap;
	margin: 0 auto;
	margin-top: 30px;
}

.advantages-title-down {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	margin: 0;
	text-align: center;
	max-width: 175px;
	flex-direction: column;
	margin-top: 80px;
}

.advantages-discription-down {
	color: #333333;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-top: 30px;
}

.advantages-item-icon {
	margin-bottom: 30px;
	margin-top: -23px;
}

.screen-one {
	width: 33.33%;
}

.advantages-item-screen {
	width: 66.66%;
}

.screen-two {
	width: 33.33%;
}

.advantages-item-screen-second {
	width: 66.66%;
}

.advantages-down {
	background: #ffffff;
}

.reserve {
	display: flex;
	flex-direction: column;
	padding: 96px 0 96px;
	text-align: center;
	background-color: #ffffff;
	align-items: center;
	margin: 0;
}

.reserve-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	display: flex;
	text-align: center;
	margin: 0;
}

.reserve-data {
	margin: 0;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #333333;
	padding-top: 20px;
	padding-bottom: 54px;
}

.find {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	width: 376px;
	height: 52px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #756157;
	border-radius: 4px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.find:hover {
	background-color: #615048;
}

.page-footer-container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
}

.footer-post {
	background-image: url("../images/background.png");
	background-color: #396e98;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 96px 258px 104px;
	gap: 10px;
	width: 1200px;
	color: #ffffff;
	text-align: center;
	min-height: 415px;
	background-size: cover;
}

.main-subscribe-post {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	width: 684px;
	padding-top: 0px;
	padding-left: 140px;
	padding-right: 140px;
	margin: 0;
}

.main-footer-discription {
	text-transform: none;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	padding-left: 104px;
	padding-right: 104px;
	margin-top: 21px;
}

.new-form {
	width: 684px;
	display: flex;
	padding-top: 32px;
}

.field {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	width: 452px;
	height: 52px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
	color: #000000;
	background-color: #f2f2f2;
	padding: 12px 20px;
	border: 0;
	border-radius: 4px 0px 0px 4px;
}

.button-submit {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	width: 232px;
	height: 52px;
	flex-direction: row;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background-color: #82b3d3;
	padding: 8px 50px;
	border: 0;
	border-radius: 0px 4px 4px 0px;
}

.button-submit:hover {
	background-color: #68A2CA;
}

.page-footer-container {
	display: flex;
	width: 1060px;
	margin: 0 auto;
}

.footer-social-list {
	width: 142px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin-top: 55px;
	margin-left: 2px;
	list-style: none;
}

.footer-social-item {
	width: 50px;
	color: #ffffff;
}

.contacts {
	display: flex;
	width: 977px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 44px;
}

.contacts-phone {
	margin: 0 auto;
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
}

.htmlacademy-link {
	padding-left: 39px;
	padding-top: 4px;
}

.navigation-link--current::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -17px;
	width: 100%;
	height: 2px;
	background-color: #756257;
}

.navigation-item-count {
	position: absolute;
	right: -10px;
	top: -6px;
	background: #7DB54F;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 11px;
}

.navigation-item--favorite {
	margin-right: 32px;
	margin-left: 25px;
}

.item-small--blue {
	padding-top: 92px;
}

.logo-academy {
	margin-left: -2px;
	color: #000000;
}

.social-icons {
	color: #83B3D3;
}

.logo-academy:hover path {fill: #756157;
}

.logo-academy:focus path {fill: #756157;
}

.logo-academy:active path {fill: rgba(117, 97, 87, 0.3);
}

.button path {fill: #83B3D3
}

.button:hover path {fill: #68A2CA
}

.button:focus path {fill: #68A2CA
}

.button:active path {fill: rgba(104, 162, 202, 0.3)
}

.contacts-phone:hover {
	color: #756157;
}

.button-up:active {color: rgba(255, 255, 255, 0.3);
}

.find:active {color: rgba(255, 255, 255, 0.3);
}

.button-submit:active {color: rgba(255, 255, 255, 0.3);
}

.button-submit:focus {background: #68A2CA;
}

.button-up:focus {background: #615048;
}

.find:focus {background: #615048
}

.field:hover {background: #E6E6E6;
}

.contacts-phone:focus {color: #756157;
}

.contacts-phone:active {color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link:focus path {fill: #756157;
}
